#cabeca{
    width: 300px;
    margin: auto;
    background-color: #2a2a2aee;
    padding: 10px;
    color: #ffffff;
    text-align: right;
}
#corpo{
    margin: auto;
    width: 300px;
    background-color: #2a2a2aee;
    padding: 10px;
}

textarea{
    font-size: 40px;
    text-align: right;
    resize: none;
}

input{
    width: 72px;
    height: 50px;
    margin-top: 3px;
    font-size: 20px;
    border: none;
    background-color: #1a1a1aee;
    color: white;
}
input:hover{
    background-color: #4a4b4c;
}

p{
    font-size: 30px;
}

.red{
    background-color: #903a42ee;
}
.red:hover{
    background-color: #d31222ee;
}

.black{
    background-color: #090909;
    
}

.number{
    background-color: #090909;
}

